footer.footer
  p
    a(href="#")
      | Top
  ul
    li
      a(href=site.path.root+"outline")
        | 会社概要
    li
      a(href=site.path.root+"ir")
        | IR情報
  ul
    li
      a(href=site.path.root+"term")
        | 利用規約
    li
      a(href=site.path.root+"privacy")
        | プライバシポリシー
    li
      a(href=site.path.root+"sitemap")
        | サイトマップ
  p
    | &copy; 2017 #{site.name}