header.header
  p
    | #{site.name}
  p
    img(src=site.path.img+"logo.png")
  ul
    li
      a(href=site.path.root+"products")
        | 製品情報
    li
      a(href=site.path.root+"recruit")
        | 採用情報
    li
      a(href=site.path.root+"contact")
        | お問い合わせ